FR
# Évitez le téléchargement accidentel des fichiers de conception Sketch et Figma
##################################################### ###
ENG
# Avoid accidental upload of the Sketch and Figma design files
#####################################################


FR
## Veuillez ne pas supprimer les lignes 15 et 16 - merci ! ##
##################################################### ###
ENG
## Please do not remove lines 15 and 16 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig


FR
# Évitez le téléchargement XD accidentel si vous convertissez le fichier de conception
################################################
## Veuillez ne pas supprimer la ligne 29 - merci ! ##
################################################
ENG
# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 29 - thanks! 🙂 ##
###############################################
*.xd


FR
# Évitez que votre projet ne soit jonché de fichiers .DS_Store ennuyeux !
ENG
# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore